{% extends "components/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'Authentication/css/recuperar.css' %}">

<div class="recover-container">
    <div class="recover-card">
        <div class="icon-container">
            <i class="lock-icon">🔒</i>
        </div>

        <img src="{% static 'Authentication/image/Logo2.png' %}" alt="MODAMIND Logo" class="logo-img">
        <h2>Establecer nueva contraseña</h2>

        <form method="post">
            {% csrf_token %}
            <label for="password1" class="email-label">Nueva contraseña:</label>
            <input type="password" name="password1" placeholder="Nueva contraseña" required>

            <label for="password2" class="email-label">Confirmar contraseña:</label>
            <input type="password" name="password2" placeholder="Confirmar contraseña" required>

            <button type="submit" class="submit-btn">Guardar contraseña</button>

            {% if error %}
                <p class="error-text">{{ error }}</p>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
